h1 {
  text-align: center;
}

.highlight {
  position: relative;
  background-color: #efefef;
  border: 1px solid darken(#efefef, 15%);
  border-radius: 2px;
  padding: 0 2px;
  font-family: monospace;
}
